h1{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding: 10px;
}
img{
    margin-left: 33%;
}
h2{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 7px;
}
